[Unit]
Description=Reset Internet Quota
Documentation=https://github.com/openparental/internet-quota
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/internet-quota reset
User=root
Group=root
Nice=19
IOSchedulingClass=idle
IOSchedulingPriority=7

[Install]
WantedBy=multi-user.target 